<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img class="img-fluid" src="assets/img/extra1.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <h3>HSNUZS</h3>
        <p>I was responsible for operating an association with members transferring from my high school to Tsing Hua. During that period, I enhanced cooperation skills with people, especially how to maintain friendship and work relationship at the same time. I coordinated 12 activities in a year like summer camp, winter camp, and university expo.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="img-fluid" src="assets/img/extra2.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <h3>TEDxNTHU</h3>
        <p>I coordinated a TED event as CFO. We invited both somebody and nobody to our event to share their story. We stick to the goal of 'ideas worth spreading.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="img-fluid" src="assets/img/extra3.jpg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>WMUN</h3>
        <p>I attended World Model United Nations (WMUN) in Seoul, Korea in March 2015. This event has been a chance of cultural exchange and mutual comprehension with elites around the world. Our topics were mostly politics and economy related.</p>
      </div>
    </ng-template>
  </ngb-carousel>