<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#" *ngIf="language === 'en'">{{ nameEnglish }}</a>
  <a class="navbar-brand" href="#" *ngIf="language === 'ch'">{{ nameChinese }}</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" *ngIf="language === 'en'">
      <li class="nav-item" *ngFor="let category of categoriesEnglish; let i = index">
        <a class="nav-link" [href]="href[i]">{{ category }}</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="language === 'ch'">
      <li class="nav-item" *ngFor="let category of categoriesChinese; let i = index">
        <a class="nav-link" [href]="href[i]">{{ category }}</a>
      </li>
    </ul>
  </div>
</nav>