<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div *ngIf="language === 'en'">
        <h1>{{ shortIntroEnglish }}</h1>
        <p>{{ introEnglish }}</p>
      </div>
      <div *ngIf="language === 'ch'">
        <h1>{{ nameChinese }}</h1>
        <h3>{{ shortIntroChinese }}</h3>
        <p>{{ introChinese }}</p>
      </div>
      <p>{{ mobile }}</p>
      <p>{{ email }}</p>
      <p>
        <a *ngFor="let link of links" [class]="link['class']" [href]="link['url']" target="_blank">
            <i [class]="link['iconClass']" aria-hidden="true"></i>
        </a>
      </p>

      <p>
        <!-- download resume -->
        <a href="assets/YuChingHsuResume.pdf" target="_blank">
            <button type="button" class="btn btn-danger btn-lg">
                <i class="fa fa-download fa-1x" aria-hidden="true"></i>
                Resume (PDF)
            </button>
        </a>
      </p>
    </div>
    <div class="col-md-5">
      <img class="img-thumbnail" src="assets/img/authorRuby.jpg">
    </div>
  </div>
</div>
