<app-navbar [language]="language" (setLanguage)="setLanguageHandler($event)"></app-navbar>
<div style="height:60px; width:100%; clear:both;"></div>
<app-profile [language]="language"></app-profile>
<app-jumbotron id="work" section="work" [language]="language"></app-jumbotron>
<div class="container">
  <div class="row">
    <app-work class="col-md-12 my-4" name="logi"></app-work>
    <!-- <app-work class="col-md-6 my-4" name="itri"></app-work> -->
    <!-- <app-work class="col-md-6 my-4" name="clinc"></app-work> -->
  </div>
</div>
<app-jumbotron id="education" section="education" [language]="language"></app-jumbotron>
<div class="container">
  <div class="row">
    <app-education class="col-md-6" name="uu" [language]="language"></app-education>
    <app-education class="col-md-6" name="yzu_ms" [language]="language"></app-education>
    <app-education class="col-md-6" name="yzu_bs" [language]="language"></app-education>
  </div>
</div>
<app-jumbotron id="projects" section="projects" [language]="language"></app-jumbotron>
<div class="container">
  <div class="row">
    <app-project class="col-md-6" name="p4" [language]="language"></app-project>
    <app-project class="col-md-6" name="p3" [language]="language"></app-project>
    <app-project class="col-md-6" name="p2" [language]="language"></app-project>
    <app-project class="col-md-6" name="p1" [language]="language"></app-project>
    <app-project class="col-md-6" name="p5" [language]="language"></app-project>
    <app-project class="col-md-6" name="p6" [language]="language"></app-project>
  </div>
</div>
<app-jumbotron id="skills" section="skills" [language]="language"></app-jumbotron>
<div class="container text-center">
  <div class="row">
    <app-skill class="col-md-3 col-sm-6" name="lang"></app-skill>
    <app-skill class="col-md-3 col-sm-6" name="library"></app-skill>
    <app-skill class="col-md-3 col-sm-6" name="web"></app-skill>
    <app-skill class="col-md-3 col-sm-6" name="tool"></app-skill>
  </div>
</div>
<!-- <app-jumbotron id="biography" section="biography" [language]="language"></app-jumbotron>
<div class="container">
  <div class="row">
    <app-biography [language]="language"></app-biography>
  </div>
</div> -->
<app-jumbotron id="hobbies" section="hobbies" [language]="language"></app-jumbotron>
<app-hobby></app-hobby>
