<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img class="img-fluid" src="assets/img/extra1.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Teaching</h3>
        <p>I enjoy introducing EE or CS knowledge to others.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="img-fluid" src="assets/img/extra2.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Badminton Club</h3>
        <p>I am the team chaptin of badminton in EE department.</p>
      </div>
    </ng-template>
    <!-- <ng-template ngbSlide>
      <img class="img-fluid" src="assets/img/extra3.jpg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>WMUN</h3>
        <p>I attended World Model United Nations (WMUN) in Seoul, Korea in March 2015. This event has been a chance of cultural exchange and mutual comprehension with elites around the world. Our topics were mostly politics and economy related.</p>
      </div>
    </ng-template> -->
  </ngb-carousel>