<button class="btn btn-primary" (click)="setChinese()">中文</button>
<button class="btn btn-primary" (click)="setEnglish()">English</button>
<app-profile  [language]="language"></app-profile>
<app-jumbotron section="work"></app-jumbotron>
<div class="container">        
  <div class="row">
    <app-work class="col-md-6 my-4" name="lucid"></app-work>
    <app-work class="col-md-6 my-4" name="umtri"></app-work>
    <app-work class="col-md-6 my-4" name="clinc"></app-work>
  </div>
</div>
<app-jumbotron section="education"></app-jumbotron>
<app-jumbotron section="projects"></app-jumbotron>
<app-jumbotron section="skills"></app-jumbotron>
<app-jumbotron section="biography"></app-jumbotron>
<div class="container">        
  <div class="row">
    <app-biography [language]="language"></app-biography>
  </div>
</div>
<app-jumbotron section="hobbies"></app-jumbotron>