<app-navbar [language]="language"></app-navbar>
<button class="btn btn-primary" (click)="setChinese()">中文</button>
<button class="btn btn-primary" (click)="setEnglish()">English</button>
<app-profile [language]="language"></app-profile>
<app-jumbotron section="work" [language]="language"></app-jumbotron>
<div class="container">        
  <div class="row">
    <app-work class="col-md-6 my-4" name="lucid"></app-work>
    <app-work class="col-md-6 my-4" name="umtri"></app-work>
    <app-work class="col-md-6 my-4" name="clinc"></app-work>
  </div>
</div>
<app-jumbotron section="education" [language]="language"></app-jumbotron>
<div class="container">        
  <div class="row">
    <app-education class="col-md-6" name="um" [language]="language"></app-education>
    <app-education class="col-md-6" name="nthu" [language]="language"></app-education>
  </div>
</div>
<app-jumbotron section="projects" [language]="language"></app-jumbotron>
<div class="container">        
  <div class="row">
    <app-project class="col-md-6" name="p4" [language]="language"></app-project>
    <app-project class="col-md-6" name="p3" [language]="language"></app-project>
    <app-project class="col-md-6" name="p2" [language]="language"></app-project>
    <app-project class="col-md-6" name="p1" [language]="language"></app-project>
  </div>
</div>
<app-jumbotron section="skills" [language]="language"></app-jumbotron>
<app-jumbotron section="biography" [language]="language"></app-jumbotron>
<div class="container">        
  <div class="row">
    <app-biography [language]="language"></app-biography>
  </div>
</div>
<app-jumbotron section="hobbies" [language]="language"></app-jumbotron>